@import 'sanitize.css';


:root {
  --app-width: 360px;
  --app-height: 600px;
  --icon-width: 32px;
  --icon-height: 32px;
  --card-width: 150px;
  --card-height: 240px;
  --mini-card-width: 60px;
  --mini-card-height: 96px;
  --color-font: #ffffff;
  --color-background: #000000;
}


body.development {
}


/*
 * Reset styles
 */
#js-app-container {
  ul, ol {
    list-style-type: none;
  }
}


#js-app-container {
  margin: 10px auto;

  .screen {
    margin: 0 auto;
    position: relative;
    top: 0;
    left: 0;
    width: var(--app-width);
    height: var(--app-height);
    color: var(--color-font);
    background-color: var(--color-background);

    .scene {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}

/*
 * Card, MiniCard
 */
#js-app-container {

  .card {
    box-sizing: border-box;
    width: var(--card-width);
    height: var(--card-height);
    border: 2px solid var(--color-font);
    border-radius: 6px;
  }

  .mini-card {
    box-sizing: border-box;
    width: var(--mini-card-width);
    height: var(--mini-card-height);
    border: 2px solid var(--color-font);
    border-radius: 4px;

    .status {
      height: 24px;
    }
    .icon-container {
      margin-top: 4px;
      height: var(--icon-height);
      .icon {
        width: var(--icon-width);
        height: var(--icon-height);
        margin: 0 auto;
      }
    }
    .buffs {
      margin-top: 4px;
      height: 32px;
    }
  }
}

/*
 * AdventureScene
 */
#js-app-container .adventure-scene {
  .mini-dungeon-cards {
    margin: 8px;
    display: flex;
    justify-content: space-between;
  }
  .card-container {
    margin-top: 20px;
    height: var(--card-height);
    .card {
      margin: 0 auto;
    }
  }
}
