#js-app-container {

  .adventure-scene {

    .floors {
      overflow: scroll;
      overflow-x: hidden;
      height: 280px;
      .bar {
        border-top: 2px solid var(--color-font);
      }
    }

    .adventure-status {
      height: 20px;
      line-height: 20px;
    }

    .adventurer-status {
      height: 260px;
    }

    .next {
      height: 40px;
    }
  }
}
